/* -------------------------------------------------------- */
/* DOCUMENT */
/* -------------------------------------------------------- */

body {
  background-color: rgb(255, 231, 179);
  background-image: url('assets/images/background.jpg');
}

p {
  font-family: 'Merriweather', serif;
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 2em;
}

/* -------------------------------------------------------- */
/* NAVBAR */
/* -------------------------------------------------------- */

.bg-dark {
  background-color: rgba(0, 0, 0, 0.48) !important;
}

h1.navbar-brand {
  font-size: 2em;
}

ul.navbar-nav {
  margin-left: 30px;
}

li.nav-item {
  text-align: right; /* Only visible when menu is collapsed */
}

a.nav-link {
  color: rgb(204, 204, 204) !important;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  border-top: 1px solid rgba(0, 0, 0, 0);
  padding: 0.5rem 0 !important;
  margin: 0 0.5rem;
  transition: all 0.4s ease;
}

a.nav-link:hover {
  border-top: 1px solid rgb(204, 204, 204);
}

/* -------------------------------------------------------- */
/* CONTAINER div and Associates */
/* -------------------------------------------------------- */

.container {
  margin-top: 60px;
  padding: 30px;
  border: 1px solid rgb(94, 94, 94);
  border-radius: 12px;
  background-color: rgb(231, 233, 234);
  color: rgb(56, 56, 56);
}

.bottom-border {
  border-bottom: 1px solid rgb(171, 171, 171);
  margin-bottom: 30px;
}

/* -------------------------------------------------------- */
/* ABOUT ME section */
/* -------------------------------------------------------- */

img.headshot {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 30px;
}

/* -------------------------------------------------------- */
/* FOOTER section */
/* -------------------------------------------------------- */

.footer {
  padding: 5px 30px;
  background-color: rgba(0, 0, 0, 0.48);
  font-weight: bold;
  font-size: 0.8em;
  color: rgb(204, 204, 204);
  text-align: center;
  margin-top: 60px;
}

/* Correct footer behavior */

@media screen and (min-width: 992px) and (min-height: 771px) {
  .footer {
    position: fixed;
    bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) and (min-height: 935px) {
  .footer {
    position: fixed;
    bottom: 0;
  }
}
