body {
  background-color: rgb(255, 231, 179);
  background-image: url('assets/images/background.jpg');
}

/* -------------------------------------------------------- */
/* NAVBAR */
/* -------------------------------------------------------- */

.bg-dark {
  background-color: rgba(0, 0, 0, 0.48) !important;
}

li.nav-item {
  text-align: right;
}

/* -------------------------------------------------------- */
/* CONTAINER div and Associates */
/* -------------------------------------------------------- */

.container {
  margin-top: 60px;
  padding: 30px;
  border: 1px solid rgb(94, 94, 94);
  border-radius: 12px;
  background-color: rgb(231, 233, 234);
  color: rgb(56, 56, 56);
}

.bottom-border {
  border-bottom: 1px solid rgb(171, 171, 171);
  margin-bottom: 10px;
}
