/* -------------------------------------------------------- */
/* DOCUMENT */
/* -------------------------------------------------------- */

body {
  background-color: rgb(255, 231, 179);
  background-image: url('../images/background.jpg');
}

p {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

/* -------------------------------------------------------- */
/* NAVBAR */
/* -------------------------------------------------------- */

.bg-dark {
  background-color: rgba(0, 0, 0, 0.48) !important;
}

h1.navbar-brand {
  font-size: 2em;
}

ul.navbar-nav {
  margin-left: 30px;
}

li.nav-item {
  text-align: right; /* Only visible when menu is collapsed */
}

a.nav-link {
  color: rgb(204, 204, 204) !important;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  border-top: 1px solid rgba(0, 0, 0, 0);
  padding: 0.5rem 0 !important;
  margin: 0 0.5rem;
  transition: all 0.4s ease;
}

a.nav-link:hover {
  border-top: 1px solid rgb(204, 204, 204);
}

/* -------------------------------------------------------- */
/* CONTAINER div and Associates */
/* -------------------------------------------------------- */

.container {
  margin-top: 60px;
  padding: 30px;
  border: 1px solid rgb(94, 94, 94);
  border-radius: 12px;
  background-color: rgb(231, 233, 234);
  color: rgb(56, 56, 56);
}

.bottom-border {
  border-bottom: 1px solid rgb(171, 171, 171);
  margin-bottom: 30px;
}

/* -------------------------------------------------------- */
/* ABOUT ME section */
/* -------------------------------------------------------- */

p.about {
  font-size: 1.3em;
  letter-spacing: 0.03em;
  line-height: 2em;
}

img.headshot {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 30px;
}

/* -------------------------------------------------------- */
/* PORTFOLIO section */
/* -------------------------------------------------------- */

.portfolio {
  margin-bottom: 50px;
}

div.image {
  padding-bottom: 30px;
}

img.placeholder {
  width: 100%;
}

.roll-up {
  display: none;
  position: absolute;
  z-index: 1;
  bottom: 0;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.48);
  margin-bottom: 0;
  padding: 5% 0;
  /* transition:  0.3s ease-in; */
}

div.hover-text:hover > a > .roll-up {
  display: block;
}

/* */
/* Correct centering for Project Title text */
/* */

@media screen and (min-width: 1200px) {
  .roll-up {
    width: 339.33px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .roll-up {
    width: 279.33px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .roll-up {
    width: 199.33px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .roll-up {
    width: 478px;
  }
}

@media screen and (max-width: 767px) {
  .roll-up {
    display: block;
    width: 100%;
  }

  div.hover-text {
    padding: 0;
    margin: 0 15px;
  }
}

/* -------------------------------------------------------- */
/* CONTACT section */
/* -------------------------------------------------------- */

.btn-submit {
  background-color: rgb(56, 56, 56);
  color: rgb(255, 255, 255);
}

/* -------------------------------------------------------- */
/* FOOTER section */
/* -------------------------------------------------------- */

.footer {
  padding: 5px 30px;
  background-color: rgba(0, 0, 0, 0.48);
  font-weight: bold;
  font-size: 0.8em;
  color: rgb(204, 204, 204);
  text-align: center;
  margin-top: 60px;
}
